# OS
.DS_Store
Thumbs.db

# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
.env
.env.*
backend/.venv/
backend/venv/
backend/db.sqlite3
backend/media/

# Node / Expo
mobile/node_modules/
mobile/.expo/
mobile/.expo-shared/
mobile/dist/
mobile/web-build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.idea/
.vscode/
